.gradient-background {
  background: linear-gradient(300deg, #00bfff, #004e9b, #ff3217);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#footer {
  padding-bottom: 1px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.txt {
  font-weight: 650;
  font-size: 50px;
  line-height: 105%;
}

.title-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: distribute;
  margin-bottom: -5rem;
}

.bg-c {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s linear infinite;
}

.down-btn {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  padding-bottom: 6rem;
}

.bn45 {
  width: auto;
  height: 40px;
}

.bn46 {
  height: 42px;
}

.title-ph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.dark-mode a {
  color: #ffffff !important;
  transition: color 0.5s ease !important;
}

.card {
  transition: background-color 0.5s ease;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-out;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #2b2b2b;
}

#darkModeButton{
  background: unset;
  border: unset;
  opacity: 40%;
  cursor: pointer;
  margin-left: auto;


}

#darkModeButton:active {
  background: unset;
  border: unset;
  opacity: 40%;
  cursor: pointer;
  margin-left: auto;

}

#darkModeButton2 {
  background: unset;
  border: unset;
  opacity: 40%;
  cursor: pointer;
  margin-left: auto;

}

#darkModeButton2:active {
  background: unset;
  border: unset;
  opacity: 40%;
  cursor: pointer;
  margin-left: auto;

}